URxvt.scrollBar: false
URxvt.font: xft:Source Code Pro:size=10
URxvt.perl-exec-common: default,matcher,resize-font

URxvt.iso14755: false
URxvt.iso14755_52: false


*.background: #050E15
*.foreground: #0582C5 
